<footer>
    <div class="row">
        <div class="c12 end">
            <div class="footer-inner">
                <p class="copyright">© 2023 Delroy J. Brown. All Rights Reserved.
                </p>
                <ul class="social-footer">
                    <li><a target="_blank" href="https://www.instagram.com/delroyjbrown"><i
                                class="lni lni-instagram"></i></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/delroy-brown-b83045226/"><i
                                class="lni lni-linkedin"></i></a></li>
                    {% comment %} <li><a target="_blank" href="https://www.facebook.com/"><i
                                class="lni lni-facebook"></i></a></li>
                    <li><a target="_blank" href="https://www.dribbble.com/"><i
                                class="lni lni-dribbble"></i></a></li> {% endcomment %}
                </ul>
            </div>
        </div>
    </div>
</footer>