{% extends 'base.html' %}
{% block content %}

<main>
  <section class="page">
    <header>
      <span class="title">Blog</span>
    </header>
    <div class="content grid">
      <div class="page-header c12">
        <h1 class="beta">{{ post.title }}</h1>
        <span class="toggle-sidebar"><i></i></span>
      </div>

      <nav id="nav-above">
        <div id="crumbs">
          <span><a class="blog-home" href="#">Home</a></span>
          <span> » </span>
          <span><a class="dummy" href="#">Image</a></span>
          <span> » </span>
          <span><a class="dummy" href="#">{{ post.title }}</a></span>
        </div>
        <div class="nav-next"><a href="blog-single-2.html" rel="next">Next Post</a></div>
      </nav>

      <div class="blog-recent-post-item row">
        <div class="c12 end">
          <p><img class="feature" src="{{ post.image.url }}" /></p>
          <p class="drop-cap">
            {{ post.title }}
          </p>
          <p>
            Illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam
            voluptatem.voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo
            enim ipsam voluptatem. on ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae
            vitae dicta sunt explicabo nemo enim ipsam voluptatem.voluptatem, illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.Illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.voluptatem, illo inventore
            veritatis
            et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.
          </p>
          <blockquote>
            <p>
              {{ post.blockquote }}
            </p>
          </blockquote>
          <p>
            Illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam
            voluptatem.voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo
            enim ipsam voluptatem. on ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae
            vitae dicta sunt explicabo nemo enim ipsam voluptatem.voluptatem, illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.Illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.voluptatem, illo inventore
            veritatis
            et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.
          </p>
          <div class="entry-meta">
            <span>By <a href="#">{{ post.created_by }}</a></span>
            <span><time class="entry-date">{{ post.date }}</time></span>
            <span class="cat-links">In
              <a href="#" rel="category tag">Image</a>,
              <a href="#" rel="category tag">Photography</a>,
              <a href="#" rel="category tag">Blog</a>
            </span>
            <!-- <a href="#">3 Comments</a> -->
          </div>
        </div>
      </div>

      <!-- COMMENTS IN SEPARATE FILE -->
      <div id="sidebar">
        <aside>
          <form role="search" id="searchform" class="searchform" onsubmit="return false;">
            {% csrf_token %}
            <div>
              <input type="text" name="s" id="s" placeholder="Search for:">
              <input type="submit" id="searchsubmit">
              <i class="lni lni-search-alt"></i>
            </div>
          </form>
        </aside>
        <aside>
          <h6 class="widget-title">Recent Posts</h6>
          <ul>
            <li><a href="#">Lorem ipsum dolor sit</a></li>
            <li><a href="#">On ultricies nisi voluptatem</a></li>
            <li><a href="#">Consectetur adipiscing elit</a></li>
            <li><a href="#">Aenean et volutpat felis</a></li>
            <li><a href="#">Donec vestibulum neque quis</a></li>
          </ul>
        </aside>
        <aside>
          <h6 class="widget-title">Text Widget</h6>
          <p class="textwidget">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque bibendum diam
            justo, eget consequat mauris blandit vitae.</p>
        </aside>
        <aside>
          <h6 class="widget-title">Categories</h6>
          <ul>
            <li><a href="#">Design</a></li>
            <li><a href="#">Image</a></li>
            <li><a href="#">Photography</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </aside>
        <aside>
          <h6 class="widget-title">Tags</h6>
          <div class="tagcloud">
            <a href="#" style="font-size: 15.777777777778pt;">Image</a>
            <a href="#" style="font-size: 8pt;">Design</a>
            <a href="#" style="font-size: 22pt;">Photography</a>
            <a href="#" style="font-size: 15.777777777778pt;">Blog</a>
          </div>
        </aside>
      </div>
      <footer>
        <div class="row">
          <div class="c12 end">
            <div class="footer-inner">
              <p class="copyright">© 2023 Delroy Brown by. All Rights Reserved.</p>
              <ul class="social-footer">
                <li><a href="#"><i class="lni lni-instagram"></i></a></li>
                <li><a href="#"><i class="lni lni-twitter"></i></a></li>
                <li><a href="#"><i class="lni lni-facebook"></i></a></li>
                <li><a href="#"><i class="lni lni-dribbble"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

    </div>
  </section><!--END BLOG-->
</main>
{% endblock content %}