{% extends "base.html" %}
{% block content %}
{% load static %}


<div class="mouse regular"></div>
<nav class="mobile-nav">
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>
<main>
    <!-- HOME PAGE -->
    <section class="page active home" id="home">

        <header>
            <span class="toggle-nav"><i></i></span>

            <div class="logo">
                <a href="#home"><img src="{% static 'img/logo.png' %}" alt="Delroy J. Brown"></a>
            </div>

            <!-- MUSIC PLAYER -->
            <div class="music-player-container">
                <audio id="myAudio">
                    <source src="{% static 'audio/lofi.mp3' %}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <button class="music-player-buttons" id="playBtn">
                    <img src="{% static 'img/play.png' %}" class="music-icons" alt="play">
                </button>
                <button class="music-player-buttons" id="stopBtn" style="display: none;">
                    <img src="{% static 'img/stop.png' %}" class="music-icons" alt="stop">
                </button>
            </div>

            <ul class="social">
                <li><a target="_blank" href="https://www.instagram.com/delroyjbrown"><i
                            class="lni lni-instagram"></i></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/delroy-brown-b83045226/"><i
                            class="lni lni-linkedin"></i></a></li>
                <!-- <li><a target="_blank" href="https://www.facebook.com/"><i class="lni lni-facebook"></i></a></li>
                <li><a target="_blank" href="https://www.dribbble.com/"><i class="lni lni-dribbble"></i></a></li> -->
            </ul>
        </header>


        <div class="content" style="display: block;">
            <div>
                <p class="currently-updating-text">Currently updating profile. . .</p>

                <h1 class="mega">Delroy J. <br> Brown.</h1>
                <h1 class="delta">Im a freelance <span class="write"></span><br>From the UK.</h1>
            </div>
            <div id="home-background"></div>
        </div>
    </section>
    <!--END HOME PAGE-->

    <!-- ABOUT PAGE-->
    {% include "about.html" %}
    <!--END ABOUT PAGE-->

    <!-- PORTFOLIO PAGE -->
    {% include "portfolio.html" %}
    <!--END PORTFOLIO PAGE-->

    <!-- BLOG PAGE -->
    {% include "blog.html" %}
    <!--END BLOG PAGE-->

    <!-- CONTACT PAGE -->
    {% include "contact.html" %}
    <!--END CONTACT PAGE-->
</main>

<script src="{% static 'js/prism.js' %}"></script>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    document.querySelectorAll("pre code").forEach((block) => {
      hljs.highlightBlock(block);
    });
  });
</script>


{% endblock content %}
