{% load static %}
<section class="page" id="portfolio">
    <header>
        <span class="title">Portfolio</span>
        <span class="title-number">02</span>
    </header>
    <div class="content grid" id="1">
        <div class="page-header c12">
            <h1 data-value="My work">My Work</h1>
            <ul class="portfolio-filter">
                <li class='selected' data-target='all'>All</li>
                {% for navDataTarget in navDataTargets  %}
                <li data-target='{{navDataTarget.nav_data_target}}'>{{navDataTarget.nav_data_target}}</li>
                {% endfor %}

                <!-- <li data-target='django'>Django</li>
                <li data-target='python'>Python</li>
                <li data-target='react'>React</li> -->
            </ul>
            <hr>
        </div>
        <div class="row">
            <div class="c12 end">
                <ul class="portfolio-container">

                    {% for mywork in myworks  %}
                      
                    <li class="popup-image" data-groups='["all","{{mywork.data_target}}"]'>
                        <figure class="imghvr-shutter-in-out-diag-1">
                            <img src="{{mywork.image.url}}">
                            <figcaption>
                                <div data-value="{{mywork.project_title}}">{{ mywork.project_title }}</div>
                                <a href="{{mywork.project_link}}" target="_blank"></a>
                            </figcaption>
                        </figure>
                        <p class="source-code-wrap">
                            {% if mywork.project_source_code_link %}
                                <a href="{{mywork.project_source_code_link}}" target="_blank">Source Code</a>
                                <a href="{{mywork.project_link}}" target="_blank">View Project</a>
                                {% else %}
                                <a href="{{mywork.project_link}}" target="_blank">View Project</a>
                            {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                    

                </ul>
            </div>
        </div>
        <!--END ROW-->
        {% include "includes/footer.html" %}
    </div><!--END CONTENT-->
</section>