{% load static %}
<section class="page" id="portfolio">
    <header>
        <span class="title">Portfolio</span>
        <span class="title-number">02</span>
    </header>
    <div class="content grid" id="1">
        <div class="page-header c12">
            <h1 data-value="My work">My Work</h1>
            <ul class="portfolio-filter">
                <li class='selected' data-target='all'>All</li>
                {% for navDataTarget in navDataTargets  %}
                <li data-target='{{navDataTarget.nav_data_target}}'>{{navDataTarget.nav_data_target}}</li>
                {% endfor %}

                <!-- <li data-target='django'>Django</li>
                <li data-target='python'>Python</li>
                <li data-target='react'>React</li> -->
            </ul>
            <hr>
        </div>
        <div class="row">
            <div class="c12 end">
                <ul class="portfolio-container">

                    {% for mywork in myworks  %}
                      
                    <li class="popup-image" data-groups='["all","{{mywork.data_target}}"]'>
                        <figure class="imghvr-shutter-in-out-diag-1">
                            <img src="{{mywork.image.url}}">
                            <figcaption>
                                <div data-value="{{mywork.project_title}}">{{ mywork.project_title }}</div>
                                <a href="{{mywork.project_link}}" target="_blank"></a>
                            </figcaption>
                        </figure>
                        <p>
                            {% if mywork.project_source_code_link %}
                            <a href="{{mywork.project_source_code_link}}"
                                target="_blank">Source Code
                            </a>
                            {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                    <!-- <li class="popup-image" data-groups='["all","javascript"]'>
                        <figure class="imghvr-shutter-in-out-diag-1">
                            <img src="{% static 'img/guessmynumber.png' %}">
                            <figcaption>
                                <div data-value="Guess My Number">Guess My Number</div>
                                <a href="https://delroybrown.github.io/guessMyNumber/" target="_blank"></a>
                            </figcaption>
                        </figure>
                        <p>
                            <a href="https://github.com/DelroyBrown/guessMyNumber/blob/main/js/script.js"
                                target="_blank">Source Code
                            </a>
                        </p>
                    </li>

                    <li class="popup-image" data-groups='["all","javascript"]'>
                        <figure class="imghvr-shutter-in-out-diag-1">
                            <img src="{% static 'img/hit100.png' %}">
                            <figcaption>
                                <div data-value="Hit100">Hit100</div>
                                <a href="https://delroybrown.github.io/Hit100/" target="_blank"></a>
                            </figcaption>
                        </figure>
                        <p>
                            <a href="https://github.com/DelroyBrown/Hit100/blob/main/js/script.js"
                                target="_blank">Source Code
                            </a>
                        </p>
                    </li>
                    <li class="popup-image" data-groups='["all","wordpress"]'>
                        <figure class="imghvr-shutter-in-out-diag-1">
                            <img src="{% static 'img/kasheacosmetics.png' %}" alt="Ka'Shea Cosmetics Logo">
                            <figcaption>
                                <div data-value="Ka'Shea Cosmetics">Ka'Shea Cosmetics</div>
                                <a href="https://kasheacosmetics.co.uk/" target="_blank"></a>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="popup-image" data-groups='["all","wordpress"]'>
                        <figure class="imghvr-shutter-in-out-diag-1">
                            <img src="{% static 'img/cincoskin.png' %}" alt="Cinco Skin Logo">
                            <figcaption>
                                <div data-value="Cinco Skin">Cinco Skin</div>
                                <a href="https://cincoskin.com/" target="_blank"></a>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="popup-image" data-groups='["all","wordpress"]'>
                        <figure class="imghvr-shutter-in-out-diag-1">
                            <img src="{% static 'img/nueui.png' %}" alt="NueUi Logo">
                            <figcaption>
                                <div data-value="NueUi">NueUi</div>
                                <a href="https://nueui.com/" target="_blank"></a>
                            </figcaption>
                        </figure>
                    </li> -->
                    <!-- <li class="popup-iframe" data-groups='["all","django"]'>
                        <figure class="imghvr-shutter-in-out-diag-1">
                            <img src="{% static 'img/450x450.jpg' %}">
                            <figcaption>
                                <div data-value="Django">django</div>
                                <a href="http://www.youtube.com/watch?v=LCBavHkBRV4"></a>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="popup-iframe" data-groups='["all","react"]'>
                        <figure class="imghvr-shutter-in-out-diag-1">
                            <img src="{% static 'img/450x450.jpg' %}">
                            <figcaption>
                                <div data-value="Euismod">Euismod</div>
                                <a
                                    href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/256187803&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></a>
                            </figcaption>
                        </figure>
                    </li> -->

                </ul>
            </div>
        </div>
        <!--END ROW-->
        {% include "includes/footer.html" %}
    </div><!--END CONTENT-->
</section>